 <header>
    <div class="row buttons">
        <div class="col-xl-6 col-sm-3 d-flex justify-content-start">
            <img src="/public/build/img/logo.png" alt="logo">
        </div>
        <div class="col-xl-6 col-sm-9 d-flex justify-content-end">
            <a class="enter" href="<%-link%>">Вхід</a>
        </div>
    </div>
</header>
<div class="main">
    <div class="row">
        <div class="col-xl-8 col-sm-12 first">
            <h1>КЕРУЙТЕ РОЗКЛАДОМ ЕФЕКТИВНІШЕ</h1>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et
            </span>
            <div class="new-schedule">
                <a href="/schedule/creating/step_1">створити розклад</a>
            </div>
        </div>
    </div>
    <div class="row title">
        <div class="col">
            <h2>Розпочніть роботу вже за декілька хвилин</h2>
        </div>
    </div>
    <div class="row manage-block flex-row d-flex justify-content-center">
        <div class="col-xl-4 col-sm-12">
            <img src="/public/build/img/checklist.png" alt="checklist">
            <h4>Оберіть потрібний тип розкладу</h4>
            <div>
                <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary,
                making this the first true generator on the Internet.
                </p>
            </div>
        </div>
        <div class="col-xl-4 col-sm-12">
            <img src="/public/build/img/edit.png" alt="edit">
            <h4>Додайте  події, завданя, та їх подробиці і вкажіть час</h4>
            <div>
                <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary,
                making this the first true generator on the Internet.
                </p>
            </div>
        </div>
        <div class="col-xl-4 col-sm-12">
            <img src="/public/build/img/calendar_main_page.png" alt="calendar">
            <h4>За кілька хвилин Ваш розклад готовий!</h4>
            <div>
                <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary,
                making this the first true generator on the Internet.
                </p>
            </div>
        </div>
    </div>
    <div class="row title">
        <div class="col-12">
            <h2>На скільки це просто?</h2>
            <p>Погляньте як просто Schedl. може допомогти Вам із розкладом</p>
        </div>
    </div>
    <div class="row two-col">
        <div class="col-xl-8 col-sm-12 d-flex flex-column align-items-start">
            <img src="/public/build/img/day_teacher.png" alt="day_teacher">
        </div>
        <div class="col-xl-4 col-sm-12 d-flex flex-column align-items-start">
            <div class="right">
                <h2>Зручність заповненя даних</h2>
                <p>It is a long established fact that a reader will be distracted by the readable
                content of a page when looking at its layout. The point of using Lorem Ipsum is that it has
                a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                making it look like readable English.
                </p>
            </div>
        </div>
    </div>
    <div class="row two-col">
        <div class="col-xl-4 col-sm-12 d-flex flex-column align-items-end">
            <div class="w-100 left">
                <h2>Швидка комунікація</h2>
                <p>It is a long established fact that a reader will be distracted by the readable
                content of a page when looking at its layout. The point of using Lorem Ipsum is that it has
                a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                making it look like readable English.
                </p>
            </div>
        </div>
        <div class="col-xl-8 col-sm-12 d-flex flex-column align-items-end">
            <img src="/public/build/img/day_teacher.png" alt="day_teacher">
        </div>
    </div>
    <div class="row two-col">
        <div class="col-xl-8 col-sm-12 d-flex flex-column align-items-start">
            <img src="/public/build/img/day_teacher.png" alt="day_teacher">
        </div>
        <div class="col-xl-4 col-sm-12 d-flex flex-column align-items-start">
            <div class="w-100 right">
                <h2>Універсальність та простота у використані</h2>
                <p>It is a long established fact that a reader will be distracted by the readable
                content of a page when looking at its layout. The point of using Lorem Ipsum is that it has
                a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                making it look like readable English.
                </p>
            </div>
        </div>
    </div>
</div>
 <div class="row bottom d-flex justify-content-around">
     <div class="col-6-sm">
         <h2>Готові розпочати?</h2>
     </div>
     <div class="col-6-sm enter">
         <a href="<%-link%>">Вхід</a>
     </div>
 </div>
<footer>
    <div class="row">
        <div class="col-xl-3 col-sm-12 logo">
            <img src="/public/build/img/logo.png" alt="logo">
        </div>
        <div class="col-xl-6 col-sm-12 d-flex justify-content-around info">
            <a href="#top">Головна</a>
            <a href="">Про нас</a>
            <a href="">Як це працює?</a>
            <a href="">FAQ</a>
        </div>
        <div class="col-xl-3 col-sm-12 d-flex justify-content-xl-end
        justify-content-sm-center social">
            <a href=""><img src="/public/build/img/facebook.png" alt="facebook"></a>
            <a href=""><img src="/public/build/img/linkedin.png" alt="linkedin"></a>
            <a href=""><img src="/public/build/img/twitter.png" alt="twitter"></a>
        </div>
    </div>
</footer>
